/ {
    macros {
        macro_nextsentence: macro_nextsentence {
            label = "Conditional DOT/?, Space, Shift";
            compatible = "zmk,behavior-macro-one-param";
            bindings = <&kp macro_param &kp SPACE &sk RSHFT>;
            #binding-cells = <1>;
        };
    };
};
