/ {
    macros {
        macro_nextsentence: macro_nextsentence {
            label = "parameterized DOT/?, Space, Shift";
            compatible = "zmk,behavior-macro-one-param";
            bindings = <&kp &macro_param_1to1 &kp SPACE &sk RSHFT>;
            #binding-cells = <1>;
        };
    };
};
